h1 {
    color: #00fb47;
    background-color: blue;
    text-align: center;
}

  body {
    backround-color: grey;
    


  }

button {
    background-color: blue;
    border-radius: 50%;
    color: #00fb47;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 100px 500px;
   
  }


  .reels {
    display: grid; 
 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 8px;
    height: 100%;
    
 }
   
 #reel1 {
 
    background-color: #383838; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 50;
    grid-column-end: 2;
    
 }
 #reel2 {
 
    background-color: #383838; 
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 50;
    grid-column-end: 3;
    
 }
 #reel3 {
 
    background-color: #383838; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 50;
    grid-column-end: 4;
    
 }